<li>
	<div class="alert alert-warning">
		<span class="fw-bold">{{id}}. </span> 
		{{burger_name}}

		<button class="devour btn btn-danger float-end" data-id="{{id}}">
			{{#unless devoured}}EAT IT{{/unless}}
		</button>
	</div>
	

</li>
